@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,regular,italic,500,600,700,800,900);

body {
  display: flex;
  justify-content: center; 
  min-height: 100vh;
  margin: 0;
}

.confirmation-message {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
}

.tavlan {
  max-width: 410px;
  margin: 0 auto;
  margin-top: 70px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #2a5059;
}

.tavlan h1 {
  text-align: center;
  font-size: 40px;
  color: #f4edd0;
}

.tavlan p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.tavlan input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #f4edd0;
  border-radius: 4px;
  font-size: 22px;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.tavlan img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

.message-input {
  width: 100%;
  height: 200px;
  padding: 10px; 
  font-size: 22px; 
  border-radius: 5px; 
  border: 1px solid #f4edd0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

.tavlan button {
  font-family: 'Fira Sans', sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #3B717D;
  color: white;
  font-size: 16px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tavlan button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.tavlan button:hover:enabled {
  background-color: #4E96A6;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 35px;
  padding: 0;
  list-style-type: none;
}

ul li {
  background-color: #f4edd0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  height: 200px;
  position: relative;
}

ul li::after {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 20px;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f4edd0 transparent transparent transparent;
}

ul li .date {
  font-size: 16px;
  color: gray;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
}

ul li .message {
  font-size: 20px;
  margin: auto 0;
}

ul li .username {
  font-size: 20px;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-weight: bold;
  margin-top: auto;
}

ul li button {
  padding: 5px 10px;
  background-color: #28a745;
  color: #f4edd0;
  border: none;
  border-radius: 4px;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end;
  width: auto;
  max-width: 180px;
}

ul li button:hover {
  background-color: #218838;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  max-width: 420px;
  background-color: #3B717D;
  border-radius: 5px;
  margin-top: 20px;
  z-index: 1000;
}

.nav-item {
  font-size: 16px;
}

.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4edd0;
  font-weight: bold;
}

.nav-item a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #f4edd0;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-content input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content button {
  padding: 10px;
  width: 100px;
  height: 40px;
  margin-right: 10px;
  background-color: #3B717D;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-content button:hover {
  background-color: #0056b3;
}
