body {
  display: flex;
  justify-content: center; /* Centrerar innehållet horisontellt */
  align-items: center; /* Centrerar innehållet vertikalt */
  min-height: 100vh; /* Ser till att innehållet fyller hela höjden */
  margin: 0;
}

.tavlan {
  max-width: 410px;
  min-height: 50vh;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #42213D;
}

.tavlan h1 {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.tavlan p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.tavlan input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.message-input {
  width: 100%; /* Full bredd på input-fältet */
  height: 200px; /* Gör input-fältet högre */
  padding: 10px; /* Lägg till lite padding för bättre textinmatning */
  font-size: 24px; /* Större text i input-fältet */
  border-radius: 5px; /* Ger input-fältet rundade hörn */
  border: 1px solid #ccc; /* Lätt gräns runt input-fältet */
  box-sizing: border-box; /* Gör så att padding och border inte påverkar fältets totala bredd */
}

.tavlan button {
  width: 100%;
  padding: 10px;
  background-color: #683257;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tavlan button:disabled {
  background-color: #aaa; /* Grå för inaktiv knapp */
  cursor: not-allowed;
}

.tavlan button:hover:enabled {
  background-color: #BD4089; /* Mörkare blå vid hover */
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsivt rutnät */
  grid-gap: 35px; /* Mellanrum mellan rutorna */
  padding: 0;
  list-style-type: none; /* Ta bort standardpunktlista */
}

ul li {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
  height: 200px;
  position: relative;
}

ul li::after {
  content: '';
  position: absolute;
  bottom: -15px; /* Position under pratbubblan */
  left: 20px; /* Justera detta för att flytta pratbubblans spets */
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: #f1f1f1 transparent transparent transparent; /* Triangel med samma färg som pratbubblan */
}

ul li .date {
  font-size: 16px;
  color: gray; /* Grå text för datum och tid */
  position: absolute;
  top: 10px; /* Positionerar 10px från toppen */
  left: 10px; /* Positionerar 10px från vänster */
  text-align: left;
}

ul li .message {
  font-size: 26px;
  margin: auto 0; /* Placera meddelandet i mitten */
  word-wrap: break-word;
}

ul li .username {
  font-size: 20px;
  position: absolute;
  left: 20px; /* Positionerar 10px från vänster */
  bottom: 20px; /* Positionerar 10px från botten */
  font-weight: bold; /* Fetare stil för användarnamnet */
  margin-top: auto; /* Placera namnet längst ned */
}

ul li button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-end; /* Placera knappen längst ned till höger */
  width: auto; /* Se till att knappen inte tar upp hela bredden */
  max-width: 100px; /* Sätter en maxbredd för knappen */
}

ul li button:hover {
  background-color: #218838;
}

/* Styling för navigeringen och centrering */
.nav-container {
  position: fixed; /* Gör att navigeringen stannar på en fast position */
  top: 0; /* Placera navigeringen längst upp */
  left: 50%; /* Justera till vänster */
  transform: translateX(-50%);
  display: flex; /* Flexbox för att arrangera länkarna horisontellt */
  justify-content: center; /* Centrerar navigeringen horisontellt */
  align-items: center; /* Centrerar länkarna vertikalt inom sin container */
  gap: 20px; /* Utrymme mellan navigeringslänkarna */
  padding: 10px;
  max-width: 420px;
  background-color: #9b6192;
  border-radius: 5px;
  margin-top: 20px; /* Skapa lite utrymme ovanför navigeringen */
  z-index: 1000;
}

/* Styling för varje länk */
.nav-item {
  font-size: 18px;
}

/* Styling för länkar */
.nav-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff; /* Länkfärg */
  font-weight: bold;
}

.nav-item a:hover {
  color: #0056b3; /* Länkfärg vid hovring */
  text-decoration: underline;
}

