@import url(https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400,regular,italic,500,600,700,800,900);

body {
  margin: 0;
  background-color: #3B717D;
  font-family: 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

